# Ignore everything 1
*

# But don't ignore folders (needed to allow traversal to workmap)
!*/

# Keep .gitignore itself
!.gitignore

# Don't ignore .odb files anywhere
!*.odb

# Don't ignore anything in the 'workmap' folder
!workmap/**

# Ignore this folder and its contents
1.0-First delta flume/**